@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
#ourcows{
    
    width: 80%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
}
.cow{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: transform 0.5s;
}
.cow img{
    width: 100%;
    border-radius: 20px;
}
.discription{
    text-align: start;
    padding: 10px 0;
}
.discription p{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
}
.discription p span{
    color: #2EB62C;
    font-weight: 600;
}
.cow a{
    display: block;
    width: 110px;
    height: 30px;
    margin: 5px auto;
    padding-top: 7px;
    text-decoration: none;
    background: #2EB62C;
    border-radius: 10px;
    color: #fff;
}
.cow a:hover{
    box-shadow: 0 0 5px #2EB62C,
    0 0 25px #2EB62C,0 0 50px #2EB62C,
    0 0 10px #2EB62C,0 0 10px #2EB62C;
}
.cow:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    
    transform: scale(1.1);
}
#ourcows .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-around;
    padding-top: 20px;
}
.top-text h2{
    font-size: 70px;
    margin-bottom: 10px;
}
.top-text p{
    font-size: 30px;
}

@media (min-width: 427px) and (max-width: 768px){
    .top-text h2 {
        font-size: 8vw;
    }
    .top-text p {
        font-size: 3vw;
    }
}
@media (min-width: 320px) and (max-width: 426px){
    .top-text h2 {
        font-size: 8vw;
    }
    .top-text p {
        font-size: 4vw;
    }
    .discription p {
        font-size: 4vw;
    }
}